body{
    background-color: #808080;
}

section{
    width: 290px;
    background-color: #919191;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.titulo{
    text-align: center;
}

input:hover{
    background-color: #fc9393;
}
